*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --dark-color: #f3f3f3;
    --parag-color: #666666;
    --dark-red: rgb(211, 7, 51);
    --border-color: #6666662a;
    --name-item: #0066c0;
  }
  .headerconteiner{
    display: inline-block;
  }
  body{
    background-color: black;
  }

header {
  background-color: black;
    font-size: 35pxs;
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px var(--dark-color);
    z-index: 100;
  
  }
  .logo h1 {
    margin: 2px;
    text-transform: capitalize;
    color: var(--dark-red);
  }
  .logoname {
    color: rgba(211, 228, 243, 0.87);
  }
  .navbare {
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0px 40px;
    color: rgba(211, 228, 243, 0.863);
    transition: 0.4s;
  }
  .navbare:hover {
    color:var(--dark-red);
  }


  header .login_signup a {
    background-color: var(--dark-red);
    color: var(--dark-color);
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 8px;
  }
  header .login_signup a i{
    background: transparent;
  }
  

  
   .header2{
    background-color: black;
    position: absolute;
    top: 11%;
    /* left: 8%; */
    border-top: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
    width: 100%;
    padding: 0 12% 0 10%;
    /* padding-left: 10%; */
    height: 12vh;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
}
.search {
    position: relative;
}

.header2 .search input {
  background: transparent;
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;
    border: solid 2px var(--dark-red);
    color: var(--dark-color);
  }
  
  .header2  .search button {
    position: absolute;
    top: 0px;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    background-color: var(--dark-red);
    height:100%;
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
  } 